In [127]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [128]:
#!pip install statsmodels

In [129]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
# import lazypredict

from plotly.subplots import make_subplots
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")

import statsmodels.tsa.stattools as st
from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.metrics import mean_absolute_error
from statsmodels.tsa.arima.model import ARIMA

In [130]:
df = pd.read_csv('GCB2022v27_MtCO2_flat.csv')
df

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [131]:
#dropping years less than 1950
df.drop(df[df['Year'] < 1950].index, inplace = True)

In [132]:
df = df.reset_index()

In [133]:
df.columns

Index(['index', 'Country', 'ISO 3166-1 alpha-3', 'Year', 'Total', 'Coal',
       'Oil', 'Gas', 'Cement', 'Flaring', 'Other', 'Per Capita'],
      dtype='object')

In [134]:
## Filling nans with zero for the inpuut features
df.Coal = df['Coal'].fillna(0, inplace = False)
df.Oil = df['Oil'].fillna(0, inplace = False)
df.Gas = df['Gas'].fillna(0, inplace = False)
df.Cement = df['Cement'].fillna(0, inplace = False)
df.Flaring = df['Flaring'].fillna(0, inplace = False)
df.Other = df['Other'].fillna(0, inplace = False)
df['Per Capita'] = df['Per Capita'].fillna(0, inplace = False)

In [135]:
# Checking the count of null values
df.isna().sum()

index                   0
Country                 0
ISO 3166-1 alpha-3    432
Year                    0
Total                   0
Coal                    0
Oil                     0
Gas                     0
Cement                  0
Flaring                 0
Other                   0
Per Capita              0
dtype: int64

In [136]:
df.reset_index()
df

,index,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,200,Afghanistan,AFG,1950,0.084272,0.021068,0.063204,0.000000,0.000000,0.000000,0.000000,0.011266
1,201,Afghanistan,AFG,1951,0.091600,0.025648,0.065952,0.000000,0.000000,0.000000,0.000000,0.012098
2,202,Afghanistan,AFG,1952,0.091600,0.031708,0.059892,0.000000,0.000000,0.000000,0.000000,0.011946
3,203,Afghanistan,AFG,1953,0.106256,0.037949,0.068307,0.000000,0.000000,0.000000,0.000000,0.013685
4,204,Afghanistan,AFG,1954,0.106256,0.042502,0.063754,0.000000,0.000000,0.000000,0.000000,0.013511
...,...,...,...,...,...,...,...,...,...,...,...,...
16699,63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
16700,63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
16701,63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
16702,63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
16703,63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [137]:
df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Christmas Island', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       'North Korea', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Micronesia (Federated States of)',
       'Fiji', 'Finland', 'Panama Canal Zone', 'France',
       'French Equatorial Africa', 'French Guiana', 'French Polynesia',
       'French West Africa', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iraq', 'Ireland', 'Iran', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kuwaiti Oil Fires', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Leeward Islands', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'North Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway',
       'Occupied Palestinian Territory', 'Oman',
       'Pacific Islands (Palau)', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Bolivia',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Cameroon',
       'South Korea', 'Moldova', 'South Sudan', 'Sudan', 'Réunion',
       'Romania', 'Russia', 'Rwanda', 'Ryukyu Islands', 'Saint Helena',
       'Saint Lucia', 'Sint Maarten (Dutch part)', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Saint Kitts and Nevis', 'St. Kitts-Nevis-Anguilla',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Tanzania', 'USA',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Viet Nam',
       'Wallis and Futuna Islands', 'Yemen', 'Zambia', 'Zimbabwe',
       'International Transport', 'Global'], dtype=object)

List of countries: USA, Japan, Germany, China, India, Brazil, Senegal, Cambodia, Congo (9)

The whole world: Global

In [138]:
# USA data set
df_usa = df.loc[df['Country'] == 'USA']
df_usa = df_usa.reset_index().drop(columns='index').drop(columns='level_0')
df_usa

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,USA,USA,1950,2541.485265,1257.231984,896.800640,319.218672,20.124553,43.121616,4.987800,17.139592
1,USA,USA,1951,2618.711623,1211.598563,960.661843,376.209056,22.040595,42.700316,5.501250,17.388702
2,USA,USA,1952,2551.219405,1074.173334,1000.966719,402.786604,22.255513,45.682686,5.354550,16.680990
3,USA,USA,1953,2612.971110,1065.955029,1050.078939,423.341629,23.520854,43.619859,6.454800,16.808948
4,USA,USA,1954,2489.462061,913.446192,1063.212192,443.999856,24.130537,38.951984,5.721300,15.735586
...,...,...,...,...,...,...,...,...,...,...,...
67,USA,USA,2017,5210.957584,1308.479533,2314.675386,1460.391796,40.323535,59.245489,27.841845,15.800777
68,USA,USA,2018,5376.657233,1256.201494,2365.283480,1618.720337,38.970745,72.786925,24.694251,16.187923
69,USA,USA,2019,5259.143836,1070.723931,2358.831137,1673.999100,40.895869,88.383147,26.310652,15.730884
70,USA,USA,2020,4715.691109,878.972885,2049.336500,1653.677852,40.687747,67.684371,25.331754,14.037218
71,USA,USA,2021,5007.335889,1002.299987,2233.778180,1637.038462,41.203135,67.684371,25.331754,14.858668

In [139]:
# Japan data set
df_jap = df.loc[df['Country'] == 'Japan']
df_jap = df_jap.reset_index().drop(columns='index').drop(columns='level_0')
df_jap

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Japan,JPN,1950,102.540986,95.729328,4.470080,0.135568,2.206010,0.000000,0.000000,1.215617
1,Japan,JPN,1951,123.457651,111.000880,9.057408,0.161216,3.238147,0.000000,0.000000,1.440857
2,Japan,JPN,1952,130.405972,113.939871,12.768681,0.179531,3.517888,0.000000,0.000000,1.500268
3,Japan,JPN,1953,145.769795,119.178928,22.042624,0.216176,4.332067,0.000000,0.000000,1.655400
4,Japan,JPN,1954,142.534085,113.008752,23.973552,0.274800,5.276981,0.000000,0.000000,1.599834
...,...,...,...,...,...,...,...,...,...,...,...
67,Japan,JPN,2017,1188.358949,458.482158,448.847338,245.692546,26.428778,0.436103,8.472026,9.382092
68,Japan,JPN,2018,1143.411908,441.964043,432.510939,233.953267,26.182944,0.423414,8.377300,9.056307
69,Japan,JPN,2019,1106.015486,432.250117,415.860472,224.230136,25.328006,0.368980,7.977774,8.792438
70,Japan,JPN,2020,1042.224016,399.366949,387.857350,222.604846,24.490267,0.344529,7.560075,8.321498
71,Japan,JPN,2021,1067.398435,418.820499,395.359389,221.525076,23.788868,0.344529,7.560075,8.565739

In [140]:
# Germany data set
df_ger = df.loc[df['Country'] == 'Germany']
df_ger = df_ger.reset_index().drop(columns='index').drop(columns='level_0')
df_ger

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Germany,DEU,1950,510.681830,496.900688,7.566160,0.043968,6.171014,0.000000,0.000000,7.196341
1,Germany,DEU,1951,576.865541,558.774425,11.076413,0.054961,6.959742,0.000000,0.000000,8.145513
2,Germany,DEU,1952,610.980580,590.362124,13.054754,0.098927,7.464775,0.000000,0.000000,8.628649
3,Germany,DEU,1953,623.491977,597.187877,17.125637,0.227169,8.951294,0.000000,0.000000,8.796514
4,Germany,DEU,1954,659.731927,625.474112,24.413232,0.362736,9.481847,0.000000,0.000000,9.289287
...,...,...,...,...,...,...,...,...,...,...,...
67,Germany,DEU,2017,785.616471,310.763015,279.180926,171.412164,13.408148,2.266922,8.585296,9.508290
68,Germany,DEU,2018,754.408432,295.673550,265.224228,169.548548,13.227901,2.007493,8.726712,9.100585
69,Germany,DEU,2019,707.149948,240.086494,270.910415,172.478938,13.286640,2.028361,8.359100,8.504699
70,Germany,DEU,2020,639.381013,197.357678,251.383941,167.628086,13.357491,1.814935,7.838883,7.672972
71,Germany,DEU,2021,674.753566,230.221049,248.200624,173.484052,13.233969,1.807425,7.806447,8.089741

In [141]:
# China data set
df_chi = df.loc[df['Country'] == 'China']
df_chi = df_chi.reset_index().drop(columns='index').drop(columns='level_0')
df_chi

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,China,CHN,1950,78.835287,77.614512,0.619216,0.014656,0.586903,0.000000,0.000000,0.144923
1,China,CHN,1951,102.115213,100.133456,0.937984,0.007328,1.036445,0.000000,0.000000,0.184452
2,China,CHN,1952,127.999326,125.444368,1.337360,0.014656,1.202942,0.000000,0.000000,0.226566
3,China,CHN,1953,133.782883,130.236986,1.908892,0.021983,1.615023,0.000000,0.000000,0.231707
4,China,CHN,1954,160.877410,155.591889,3.341492,0.029311,1.914718,0.000000,0.000000,0.272703
...,...,...,...,...,...,...,...,...,...,...,...
67,China,CHN,2017,10011.107108,7163.317856,1430.586816,486.359360,758.185168,2.924697,169.733211,7.098687
68,China,CHN,2018,10353.876989,7316.399776,1500.473952,575.368912,786.744610,3.350856,171.538883,7.306542
69,China,CHN,2019,10740.996069,7543.157408,1559.728160,630.171360,826.876048,3.806248,177.256846,7.554165
70,China,CHN,2020,10956.213369,7605.716883,1627.725238,687.880944,858.232613,5.118808,171.538883,7.688950
71,China,CHN,2021,11472.369171,7955.985419,1713.339980,773.866062,852.961348,4.677478,171.538883,8.045741

In [142]:
# India data set
df_ind = df.loc[df['Country'] == 'India']
df_ind = df_ind.reset_index().drop(columns='index').drop(columns='level_0')
df_ind

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,India,IND,1950,61.102632,52.559786,7.188768,0.000000,1.354077,0.000000,0.0,0.171146
1,India,IND,1951,64.022191,54.512339,7.851952,0.000000,1.657901,0.000000,0.0,0.175441
2,India,IND,1952,67.426227,58.030006,7.562119,0.000000,1.834102,0.000000,0.0,0.180769
3,India,IND,1953,68.704906,59.067189,7.679744,0.000000,1.957973,0.000000,0.0,0.180220
4,India,IND,1954,72.413709,60.592102,9.541056,0.000000,2.280551,0.000000,0.0,0.185804
...,...,...,...,...,...,...,...,...,...,...,...
67,India,IND,2017,2434.867906,1560.988150,631.087430,118.922003,121.047241,2.823083,0.0,1.798018
68,India,IND,2018,2600.446463,1677.600364,655.190293,126.201229,138.964893,2.489684,0.0,1.899518
69,India,IND,2019,2626.459473,1677.653708,674.011463,128.675994,143.664137,2.454171,0.0,1.898949
70,India,IND,2020,2445.011942,1588.060207,603.602160,127.635380,122.908202,2.805994,0.0,1.750956
71,India,IND,2021,2709.683625,1802.311897,622.148121,133.450811,149.001244,2.771552,0.0,1.925088

In [143]:
# Brazil data set
df_bra = df.loc[df['Country'] == 'Brazil']
df_bra = df_bra.reset_index().drop(columns='index').drop(columns='level_0')
df_bra

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Brazil,BRA,1950,19.659072,6.382688,12.578512,0.003664,0.686880,0.007328,0.000,0.364358
1,Brazil,BRA,1951,21.659348,6.276432,14.645008,0.003664,0.719588,0.014656,0.000,0.389619
2,Brazil,BRA,1952,24.934311,6.008077,18.108492,0.003663,0.799425,0.014654,0.000,0.435280
3,Brazil,BRA,1953,25.218440,5.619760,18.537148,0.007327,1.002917,0.051289,0.000,0.427245
4,Brazil,BRA,1954,29.675626,5.751770,22.549137,0.014654,1.235504,0.124561,0.000,0.487865
...,...,...,...,...,...,...,...,...,...,...,...
67,Brazil,BRA,2017,497.412678,67.321878,316.425222,70.687790,19.080788,17.505000,6.392,2.385616
68,Brazil,BRA,2018,477.102130,65.840737,300.605153,67.417072,19.342169,17.505000,6.392,2.270114
69,Brazil,BRA,2019,475.104581,61.887745,302.333585,67.121321,19.864930,17.505000,6.392,2.243357
70,Brazil,BRA,2020,442.306003,56.240806,281.089414,59.026096,22.052686,17.505000,6.392,2.074642
71,Brazil,BRA,2021,488.881070,68.229888,296.986854,75.974385,23.792942,17.505000,6.392,2.281014

In [144]:
# Senegal data set
df_sen = df.loc[df['Country'] == 'Senegal']
df_sen = df_sen.reset_index().drop(columns='index').drop(columns='level_0')
df_sen

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Senegal,SEN,1950,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,Senegal,SEN,1951,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,Senegal,SEN,1952,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,Senegal,SEN,1953,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,Senegal,SEN,1954,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
67,Senegal,SEN,2017,10.760132,1.439952,7.258384,0.036640,2.013801,0.011355,0.0,0.709875
68,Senegal,SEN,2018,11.330392,2.260688,6.950608,0.021984,2.097112,0.000000,0.0,0.727477
69,Senegal,SEN,2019,12.761457,2.087880,7.970572,0.029304,2.673702,0.000000,0.0,0.797552
70,Senegal,SEN,2020,12.743876,1.894052,8.144750,0.031372,2.673702,0.000000,0.0,0.775358
71,Senegal,SEN,2021,13.597910,2.190262,8.700009,0.033937,2.673702,0.000000,0.0,0.805720

In [145]:
# Cambodia data set
df_cam = df.loc[df['Country'] == 'Cambodia']
df_cam = df_cam.reset_index().drop(columns='index').drop(columns='level_0')
df_cam

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Cambodia,KHM,1950,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
1,Cambodia,KHM,1951,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,Cambodia,KHM,1952,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
3,Cambodia,KHM,1953,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,Cambodia,KHM,1954,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
67,Cambodia,KHM,2017,12.504842,3.612704,6.591536,0.0,2.300602,0.000000,0.0,0.789911
68,Cambodia,KHM,2018,14.388181,3.839872,7.232736,0.0,3.315573,0.000000,0.0,0.897845
69,Cambodia,KHM,2019,18.024641,4.418784,8.280640,0.0,5.325217,0.000000,0.0,1.112100
70,Cambodia,KHM,2020,18.703284,4.638542,8.739525,0.0,5.325217,0.000000,0.0,1.140663
71,Cambodia,KHM,2021,19.028598,4.698298,8.981376,0.0,5.325217,0.023707,0.0,1.147060

In [146]:
# Congo data set
df_con = df.loc[df['Country'] == 'Congo']
df_con = df_con.reset_index().drop(columns='index').drop(columns='level_0')
df_con

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Congo,COG,1950,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,Congo,COG,1951,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,Congo,COG,1952,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,Congo,COG,1953,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,Congo,COG,1954,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
67,Congo,COG,2017,5.702250,0.0,1.974896,1.183472,0.406868,2.137015,0.0,1.073397
68,Congo,COG,2018,6.596230,0.0,2.005842,1.343328,0.271245,2.975814,0.0,1.212306
69,Congo,COG,2019,7.341473,0.0,2.024422,1.885312,0.282870,3.148868,0.0,1.317865
70,Congo,COG,2020,7.529862,0.0,1.910896,1.972983,0.282870,3.363113,0.0,1.320525
71,Congo,COG,2021,7.464369,0.0,2.027334,2.292486,0.282870,2.861680,0.0,1.279064

In [147]:
# Global data set
df_glob = df.loc[df['Country'] == 'Global']
df_glob = df_glob.reset_index().drop(columns='index').drop(columns='level_0')
df_glob

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Global,WLD,1950,6003.271922,3856.215025,1648.309543,353.156200,66.978938,73.624416,0.000000,2.401960
1,Global,WLD,1951,6379.796307,4060.039800,1742.354432,416.186336,75.839229,79.875260,0.000000,2.508639
2,Global,WLD,1952,6465.726953,4009.059071,1838.023921,447.085044,80.840562,85.363804,0.000000,2.496159
3,Global,WLD,1953,6647.763209,4043.705068,1952.100332,474.527427,89.627553,81.348030,0.000000,2.517826
4,Global,WLD,1954,6789.968651,4039.512096,2068.542651,501.349623,97.230969,77.612011,0.000000,2.522296
...,...,...,...,...,...,...,...,...,...,...,...
67,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
68,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
69,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
70,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
71,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699