In [171]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [172]:
#!pip install statsmodels

In [173]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
# import lazypredict

from plotly.subplots import make_subplots
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")

import statsmodels.tsa.stattools as st
from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.metrics import mean_absolute_error
from statsmodels.tsa.arima.model import ARIMA

In [174]:
df = pd.read_csv('GCB2022v27_MtCO2_flat.csv')
df

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [175]:
#dropping years less than 1850
df.drop(df[df['Year'] < 1850].index, inplace = True)

In [176]:
df = df.reset_index()

In [177]:
df.columns

Index(['index', 'Country', 'ISO 3166-1 alpha-3', 'Year', 'Total', 'Coal',
       'Oil', 'Gas', 'Cement', 'Flaring', 'Other', 'Per Capita'],
      dtype='object')

In [178]:
## Filling nans with zero for the inpuut features
df.Coal = df['Coal'].fillna(0, inplace = False)
df.Oil = df['Oil'].fillna(0, inplace = False)
df.Gas = df['Gas'].fillna(0, inplace = False)
df.Cement = df['Cement'].fillna(0, inplace = False)
df.Flaring = df['Flaring'].fillna(0, inplace = False)
df.Other = df['Other'].fillna(0, inplace = False)
df['Per Capita'] = df['Per Capita'].fillna(0, inplace = False)

In [179]:
# Checking the count of null values
df.isna().sum()

index                    0
Country                  0
ISO 3166-1 alpha-3    1632
Year                     0
Total                  200
Coal                     0
Oil                      0
Gas                      0
Cement                   0
Flaring                  0
Other                    0
Per Capita               0
dtype: int64

In [180]:
df.reset_index()
df

,index,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,0,Afghanistan,AFG,1750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,Afghanistan,AFG,1751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2,Afghanistan,AFG,1752,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,3,Afghanistan,AFG,1753,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,Afghanistan,AFG,1754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
63099,63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [181]:
df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Christmas Island', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       'North Korea', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Micronesia (Federated States of)',
       'Fiji', 'Finland', 'Panama Canal Zone', 'France',
       'French Equatorial Africa', 'French Guiana', 'French Polynesia',
       'French West Africa', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iraq', 'Ireland', 'Iran', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kuwaiti Oil Fires', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Leeward Islands', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'North Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway',
       'Occupied Palestinian Territory', 'Oman',
       'Pacific Islands (Palau)', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Bolivia',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Cameroon',
       'South Korea', 'Moldova', 'South Sudan', 'Sudan', 'Réunion',
       'Romania', 'Russia', 'Rwanda', 'Ryukyu Islands', 'Saint Helena',
       'Saint Lucia', 'Sint Maarten (Dutch part)', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Saint Kitts and Nevis', 'St. Kitts-Nevis-Anguilla',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Tanzania', 'USA',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Viet Nam',
       'Wallis and Futuna Islands', 'Yemen', 'Zambia', 'Zimbabwe',
       'International Transport', 'Global'], dtype=object)

List of countries: USA, Japan, Germany, China, India, Brazil, Senegal, Cambodia, Congo (9)

The whole world: Global

In [193]:
# USA data set
df_usa = df.loc[df['Country'] == 'USA']
df_usa = df_usa.reset_index().drop(columns='index').drop(columns='level_0')
df_usa

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,USA,USA,1750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,USA,USA,1751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,USA,USA,1752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,USA,USA,1753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,USA,USA,1754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,USA,USA,1755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,USA,USA,1756,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,USA,USA,1757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,USA,USA,1758,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,USA,USA,1759,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,USA,USA,1760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,USA,USA,1761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,USA,USA,1762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,USA,USA,1763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,USA,USA,1764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,USA,USA,1765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,USA,USA,1766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,USA,USA,1767,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,USA,USA,1768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,USA,USA,1769,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,USA,USA,1770,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,USA,USA,1771,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,USA,USA,1772,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,USA,USA,1773,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,USA,USA,1774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,USA,USA,1775,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,USA,USA,1776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,USA,USA,1777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,USA,USA,1778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,USA,USA,1779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,USA,USA,1780,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,USA,USA,1781,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,USA,USA,1782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,USA,USA,1783,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,USA,USA,1784,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35,USA,USA,1785,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,USA,USA,1786,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,USA,USA,1787,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,USA,USA,1788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,USA,USA,1789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,USA,USA,1790,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,USA,USA,1791,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,USA,USA,1792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,USA,USA,1793,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,USA,USA,1794,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,USA,USA,1795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,USA,USA,1796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,USA,USA,1797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,USA,USA,1798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,USA,USA,1799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [183]:
# Japan data set
df_jap = df.loc[df['Country'] == 'Japan']
df_jap = df_jap.reset_index().drop(columns='index').drop(columns='level_0')
df_jap

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Japan,JPN,1750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Japan,JPN,1751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Japan,JPN,1752,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Japan,JPN,1753,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Japan,JPN,1754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
267,Japan,JPN,2017,1188.358949,458.482158,448.847338,245.692546,26.428778,0.436103,8.472026,9.382092
268,Japan,JPN,2018,1143.411908,441.964043,432.510939,233.953267,26.182944,0.423414,8.377300,9.056307
269,Japan,JPN,2019,1106.015486,432.250117,415.860472,224.230136,25.328006,0.368980,7.977774,8.792438
270,Japan,JPN,2020,1042.224016,399.366949,387.857350,222.604846,24.490267,0.344529,7.560075,8.321498
271,Japan,JPN,2021,1067.398435,418.820499,395.359389,221.525076,23.788868,0.344529,7.560075,8.565739

In [184]:
# Germany data set
df_ger = df.loc[df['Country'] == 'Germany']
df_ger = df_ger.reset_index().drop(columns='index').drop(columns='level_0')
df_ger

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Germany,DEU,1750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Germany,DEU,1751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Germany,DEU,1752,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Germany,DEU,1753,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Germany,DEU,1754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
267,Germany,DEU,2017,785.616471,310.763015,279.180926,171.412164,13.408148,2.266922,8.585296,9.508290
268,Germany,DEU,2018,754.408432,295.673550,265.224228,169.548548,13.227901,2.007493,8.726712,9.100585
269,Germany,DEU,2019,707.149948,240.086494,270.910415,172.478938,13.286640,2.028361,8.359100,8.504699
270,Germany,DEU,2020,639.381013,197.357678,251.383941,167.628086,13.357491,1.814935,7.838883,7.672972
271,Germany,DEU,2021,674.753566,230.221049,248.200624,173.484052,13.233969,1.807425,7.806447,8.089741

In [185]:
# China data set
df_chi = df.loc[df['Country'] == 'China']
df_chi = df_chi.reset_index().drop(columns='index').drop(columns='level_0')
df_chi

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,China,CHN,1750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,China,CHN,1751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,China,CHN,1752,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,China,CHN,1753,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,China,CHN,1754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
267,China,CHN,2017,10011.107108,7163.317856,1430.586816,486.359360,758.185168,2.924697,169.733211,7.098687
268,China,CHN,2018,10353.876989,7316.399776,1500.473952,575.368912,786.744610,3.350856,171.538883,7.306542
269,China,CHN,2019,10740.996069,7543.157408,1559.728160,630.171360,826.876048,3.806248,177.256846,7.554165
270,China,CHN,2020,10956.213369,7605.716883,1627.725238,687.880944,858.232613,5.118808,171.538883,7.688950
271,China,CHN,2021,11472.369171,7955.985419,1713.339980,773.866062,852.961348,4.677478,171.538883,8.045741

In [186]:
# India data set
df_ind = df.loc[df['Country'] == 'India']
df_ind = df_ind.reset_index().drop(columns='index').drop(columns='level_0')
df_ind

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,India,IND,1750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,India,IND,1751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,India,IND,1752,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,India,IND,1753,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,India,IND,1754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
267,India,IND,2017,2434.867906,1560.988150,631.087430,118.922003,121.047241,2.823083,0.0,1.798018
268,India,IND,2018,2600.446463,1677.600364,655.190293,126.201229,138.964893,2.489684,0.0,1.899518
269,India,IND,2019,2626.459473,1677.653708,674.011463,128.675994,143.664137,2.454171,0.0,1.898949
270,India,IND,2020,2445.011942,1588.060207,603.602160,127.635380,122.908202,2.805994,0.0,1.750956
271,India,IND,2021,2709.683625,1802.311897,622.148121,133.450811,149.001244,2.771552,0.0,1.925088

In [187]:
# Brazil data set
df_bra = df.loc[df['Country'] == 'Brazil']
df_bra = df_bra.reset_index().drop(columns='index').drop(columns='level_0')
df_bra

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Brazil,BRA,1750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000
1,Brazil,BRA,1751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000
2,Brazil,BRA,1752,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000
3,Brazil,BRA,1753,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000
4,Brazil,BRA,1754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
267,Brazil,BRA,2017,497.412678,67.321878,316.425222,70.687790,19.080788,17.505,6.392,2.385616
268,Brazil,BRA,2018,477.102130,65.840737,300.605153,67.417072,19.342169,17.505,6.392,2.270114
269,Brazil,BRA,2019,475.104581,61.887745,302.333585,67.121321,19.864930,17.505,6.392,2.243357
270,Brazil,BRA,2020,442.306003,56.240806,281.089414,59.026096,22.052686,17.505,6.392,2.074642
271,Brazil,BRA,2021,488.881070,68.229888,296.986854,75.974385,23.792942,17.505,6.392,2.281014

In [188]:
# Senegal data set
df_sen = df.loc[df['Country'] == 'Senegal']
df_sen = df_sen.reset_index().drop(columns='index').drop(columns='level_0')
df_sen

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Senegal,SEN,1750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,Senegal,SEN,1751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,Senegal,SEN,1752,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,Senegal,SEN,1753,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,Senegal,SEN,1754,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
267,Senegal,SEN,2017,10.760132,1.439952,7.258384,0.036640,2.013801,0.011355,0.0,0.709875
268,Senegal,SEN,2018,11.330392,2.260688,6.950608,0.021984,2.097112,0.000000,0.0,0.727477
269,Senegal,SEN,2019,12.761457,2.087880,7.970572,0.029304,2.673702,0.000000,0.0,0.797552
270,Senegal,SEN,2020,12.743876,1.894052,8.144750,0.031372,2.673702,0.000000,0.0,0.775358
271,Senegal,SEN,2021,13.597910,2.190262,8.700009,0.033937,2.673702,0.000000,0.0,0.805720

In [189]:
# Cambodia data set
df_cam = df.loc[df['Country'] == 'Cambodia']
df_cam = df_cam.reset_index().drop(columns='index').drop(columns='level_0')
df_cam

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Cambodia,KHM,1750,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
1,Cambodia,KHM,1751,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,Cambodia,KHM,1752,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
3,Cambodia,KHM,1753,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,Cambodia,KHM,1754,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
267,Cambodia,KHM,2017,12.504842,3.612704,6.591536,0.0,2.300602,0.000000,0.0,0.789911
268,Cambodia,KHM,2018,14.388181,3.839872,7.232736,0.0,3.315573,0.000000,0.0,0.897845
269,Cambodia,KHM,2019,18.024641,4.418784,8.280640,0.0,5.325217,0.000000,0.0,1.112100
270,Cambodia,KHM,2020,18.703284,4.638542,8.739525,0.0,5.325217,0.000000,0.0,1.140663
271,Cambodia,KHM,2021,19.028598,4.698298,8.981376,0.0,5.325217,0.023707,0.0,1.147060

In [190]:
# Congo data set
df_con = df.loc[df['Country'] == 'Congo']
df_con = df_con.reset_index().drop(columns='index').drop(columns='level_0')
df_con

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Congo,COG,1750,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,Congo,COG,1751,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,Congo,COG,1752,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,Congo,COG,1753,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,Congo,COG,1754,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
267,Congo,COG,2017,5.702250,0.0,1.974896,1.183472,0.406868,2.137015,0.0,1.073397
268,Congo,COG,2018,6.596230,0.0,2.005842,1.343328,0.271245,2.975814,0.0,1.212306
269,Congo,COG,2019,7.341473,0.0,2.024422,1.885312,0.282870,3.148868,0.0,1.317865
270,Congo,COG,2020,7.529862,0.0,1.910896,1.972983,0.282870,3.363113,0.0,1.320525
271,Congo,COG,2021,7.464369,0.0,2.027334,2.292486,0.282870,2.861680,0.0,1.279064

In [191]:
# Global data set
df_glob = df.loc[df['Country'] == 'Global']
df_glob = df_glob.reset_index().drop(columns='index').drop(columns='level_0')
df_glob

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Global,WLD,1750,9.350528,9.350528,0.000000,0.000000,0.000000,0.000000,0.000000,0.011492
1,Global,WLD,1751,9.350528,9.350528,0.000000,0.000000,0.000000,0.000000,0.000000,0.011438
2,Global,WLD,1752,9.354192,9.354192,0.000000,0.000000,0.000000,0.000000,0.000000,0.011390
3,Global,WLD,1753,9.354192,9.354192,0.000000,0.000000,0.000000,0.000000,0.000000,0.011339
4,Global,WLD,1754,9.357856,9.357856,0.000000,0.000000,0.000000,0.000000,0.000000,0.011294
...,...,...,...,...,...,...,...,...,...,...,...
267,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
268,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
269,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
270,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
271,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699